name: luacheck

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  luacheck:
    runs-on: ubuntu-latest

    steps:
    # Загрузка репозитория
    - name: Checkout code
      uses: actions/checkout@v4

    # Запуск линтера
    - name: Run linter
      uses: lunarmodules/luacheck@v1
      with:
        args: bot
